.board-editor {
  &__tools {
    @extend %flex-column;

    cursor: default;

    button,
    .button,
    select,
    label,
    input[type='checkbox'] {
      cursor: pointer;
    }

    input[type='text'],
    input[type='number'] {
      cursor: text;
    }

    button:disabled,
    select:disabled,
    input:disabled {
      cursor: not-allowed;
    }

    grid-area: tools;
    align-self: center;

    > * {
      margin: 0.5rem 0;
    }

    select {
      @extend %page-link !optional;

      width: 100%;

      &.positions option:checked {
        font-style: italic;
      }
    }

    .metadata {
      @extend %box-neat;

      background: $c-bg-box;
      padding: 1rem;
      white-space: nowrap;

      .color {
        margin-bottom: 1em;
      }

      .castling {
        div {
          @extend %flex-between;
        }

        --form-check-scale: 0.7;

        .form-check__label {
          height: calc(24px * var(--form-check-scale));
          width: calc(24px * var(--form-check-scale));
        }

        .form-check__label::after {
          width: calc(12px * var(--form-check-scale));
          height: calc(6px * var(--form-check-scale));
          border-width: calc(2.5px * var(--form-check-scale));
        }
      }

      .enpassant {
        @extend %flex-between;
        margin-top: 1em;
        label {
          font-weight: bold;
        }
        select {
          width: 9ch;
        }
      }

      .chess960-position-row {
        @extend %flex-center-nowrap;
        gap: 0.5rem;
      }

      #chess960-position-id {
        &:invalid {
          border-color: $c-error;
        }
      }
    }

    .actions {
      @extend %flex-column;

      justify-content: stretch;

      .button {
        @extend %page-link !optional;

        width: 100%;
        text-align: start;
      }
    }
  }
}
